.max-w-8xl {
  max-width: 90rem;
}

.max-w-prose-xl {
  max-width: 90ch;
}

.min-w-\[260px\] {
  min-width: 260px;
}

a.article-card-hover:hover {
  background-color: rgba(0, 0, 0, 0.03); /* Slightly darken background in Light mode */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.dark a.article-card-hover:hover {
  background-color: rgba(255, 255, 255, 0.04); /* Slightly darkeㄊn background in Dark mode */
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Badge custom styles */
.badge-category {
  /* Light mode styles for category */
  --badge-border-color: #22c55e; /* green-500 */
  --badge-text-color: #15803d;   /* green-700 */
}
.dark .badge-category {
  /* Dark mode styles for category */
  --badge-border-color: #4ade80; /* green-400 */
  --badge-text-color: #86efac;   /* green-300 */
}

.badge-tag {
  /* Light mode styles for tag */
  --badge-border-color: #0ea5e9; /* sky-500 */
  --badge-text-color: #0369a1;   /* sky-700 */
}
.dark .badge-tag {
  /* Dark mode styles for tag */
  --badge-border-color: #38bdf8; /* sky-400 */
  --badge-text-color: #7dd3fc;   /* sky-300 */
}

/* Default badge colors if no specific type is matched, or for other badges */
.badge-custom:not(.badge-category):not(.badge-tag) {
  --badge-border-color: rgba(var(--color-primary-400), 1);
  --badge-text-color: rgba(var(--color-primary-700), 1);
}
.dark .badge-custom:not(.badge-category):not(.badge-tag) {
  --badge-border-color: rgba(var(--color-primary-600), 1);
  --badge-text-color: rgba(var(--color-primary-400), 1);
}

/* General badge styling using the CSS variables */
.badge-custom .badge-inner {
  border-width: 1px; /* Ensure border is applied */
  border-style: solid; /* Ensure border is applied */
  border-color: var(--badge-border-color);
  color: var(--badge-text-color);
}
