{{ define "main" }}

{{ .Scratch.Set "scope" "list" }}
{{ if .Site.Params.taxonomy.showHero | default false }}
{{ $heroStyle := print "hero/" .Site.Params.taxonomy.heroStyle ".html" }}
{{ if templates.Exists ( printf "partials/%s" $heroStyle ) }}
{{ partial $heroStyle . }}
{{ else }}
{{ partial "hero/basic.html" . }}
{{ end }}
{{- end -}}

{{ $toc := and (.Params.showTableOfContents | default (.Site.Params.taxonomy.showTableOfContents | default false)) (in
.TableOfContents "<ul") }} 

  <header>
    {{ if .Params.showBreadcrumbs | default (.Site.Params.taxonomy.showBreadcrumbs | default false) }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="text-4xl font-extrabold text-neutral-900 dark:text-neutral flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           class="size-6 mr-3 text-neutral-500 dark:text-neutral-400 flex-shrink-0">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M6 6h.008v.008H6V6Z" />
      </svg>
      {{ (i18n .Name) | default .Name }}
    </h1>
    <div class="mt-1 mb-2 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
      {{ partial "article-meta/taxonomy.html" (dict "context" . "scope" "single") }}
    </div>
  </header>
  {{ if .Content }}
    <section class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
      <div class="min-w-0 min-h-0 max-w-prose">
        {{ .Content }}
      </div>
    </section>
  <script>
    var oid = "views_taxonomy_{{ .Data.Plural }}"
    var oid_likes = "likes_taxonomy_{{ .Data.Plural }}"
  </script>
  {{ $jsPage := resources.Get "js/page.js" }}
  {{ $jsPage = $jsPage | resources.Minify | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $jsPage.RelPermalink }}" integrity="{{ $jsPage.Data.Integrity }}"></script>
  {{ end }}

  <section class="flex flex-wrap gap-4 mt-4 tags-list">
    {{ range .Data.Terms }}
      <a href="{{ .Page.RelPermalink }}" class="inline-flex items-center rounded-lg border border-sky-400/40 px-4 py-2 hover:bg-sky-500/10 transition">
        <span class="tag-title text-sky-300 font-medium">{{ (i18n (.Page.Title | lower)) | default .Page.Title }}</span>
        <span class="tag-count ml-1 text-sm text-neutral-400">{{ .Count }}</span>
      </a>
    {{ end }}
  </section>

{{ end }}
