/* Redefine theme's max-w-7xl to widen the whole site (Body + Header + Components) */
.max-w-7xl {
  max-width: 90rem;
}

.max-w-prose-xl {
  max-width: 90ch;
}

.min-w-\[260px\] {
  min-width: 260px;
}

