{{- $text := . -}}
{{- $type := "default" -}}
{{- if reflect.IsMap . -}}
  {{- $text = .text -}}
  {{- $type = .type | default "default" -}}
{{- end -}}

{{- $wrapperClass := "badge-custom" -}}
{{- if eq $type "category" -}}
  {{- $wrapperClass = "badge-custom badge-category" -}}
{{- else if eq $type "tag" -}}
  {{- $wrapperClass = "badge-custom badge-tag" -}}
{{- end -}}

<span class="flex {{ $wrapperClass }}" style="cursor: pointer;">
  <span class="badge-inner rounded-md px-1 py-[1px] text-xs font-normal">
    {{ (i18n $text) | default $text }}
  </span>
</span>
