{{- $type := .Get 0 | default "info" -}}
{{- $title := .Get 1 -}}
{{- $content := .Inner | markdownify -}}

{{- $iconPath := "" -}}
{{- if eq $type "info" -}}
  {{- $iconPath = "themes/blowfish/assets/icons/circle-info.svg" -}}
{{- else if eq $type "warning" -}}
  {{- $iconPath = "themes/blowfish/assets/icons/triangle-exclamation.svg" -}}
{{- else if eq $type "success" -}}
  {{- $iconPath = "themes/blowfish/assets/icons/check.svg" -}}
{{- else if eq $type "danger" -}}
  {{- $iconPath = "themes/blowfish/assets/icons/fire.svg" -}}
{{- else if eq $type "tip" -}}
  {{- $iconPath = "themes/blowfish/assets/icons/lightbulb.svg" -}}
{{- else if eq $type "note" -}}
  {{- $iconPath = "themes/blowfish/assets/icons/pencil.svg" -}}
{{- end -}}

<div class="notice notice-{{ $type }}">
  {{- if $title -}}
  <p class="notice-title">
    {{- if and $iconPath (fileExists $iconPath) -}}
    <span class="notice-icon">{{- readFile $iconPath | safeHTML -}}</span>
    {{- end -}}
    {{ $title }}
  </p>
  {{- end -}}
  <div class="notice-content">
    {{ $content }}
  </div>
</div>
